* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
}
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  padding-top: 50px;
  padding-bottom: 41px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title-link {
  text-decoration: none;
  color: #000;
}
.header__title {
  margin: 0;
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  text-transform: uppercase;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
.active {
  color: red;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  -webkit-transition: all .5s;
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
nav.fill ul li a {
  -webkit-transition: all 2s;
  transition: all 2s;
}
nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
.about-us {
  background-color: #F5F7FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us__title {
  margin: 0;
  margin-bottom: 63px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.about-us__item {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.about-us__item:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.item__left {
  margin-right: 60px;
}
.item__img {
  display: block;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.item__img:last-child {
  margin-right: 0;
  margin-left: 60px;
}
.item__right {
  width: 45%;
}
.item__desc {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}
.benefits__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.benefits__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.benefits__item {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
}
.benefits__item:last-child {
  margin-bottom: 0;
}
.about-us__skills {
  width: 100%;
  margin-bottom: 75px;
}
.about-us__skills:last-child {
  margin: 0;
}
.about-us__skills-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
}
.skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills-wrap:last-child {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.skills__item {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.skills__item img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.skills__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.skill_title {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}
/*# sourceMappingURL=main.css.map */